In [2]:
import pandas as pd
import socket
import mysql.connector
import pyodbc
import datetime

In [3]:
import sqlalchemy
conn = sqlalchemy.create_engine('mysql+pymysql://sql10423050:ZGyaasVsrL@sql10.freesqldatabase.com/sql10423050')

In [4]:
class ControleFuncionariosObras():
    
    def __init__(self, con, portao):
        self.con = con
        self.portao = portao
        
    
    def ler_dados_sql_funcionarios(self):
        
        funcionarios = pd.read_sql(sql = 'funcionarios', con=self.con)
        return funcionarios
    
    def ler_dados_sql_obras(self):
        
        obras = pd.read_sql(sql = 'obras', con=self.con)
        return obras
    
    def ler_dados_sql_pontos(self):
        
        pontos = pd.read_sql(sql = 'registro_pontos', con=self.con)
        return pontos
    
    def cadastrar_funcionario(self, dados_funcionario = None):
        
        if(dados_funcionario != None):
            dados = dados_funcionario.copy() 
        else:
            dados = {}
            for atributo in ['nome', 'data_nascimento', 'cpf', 'cargo', 'inicio_jornada', 'fim_jornada', 'id_obra']:
                if(atributo == 'data_nascimento'):
                    dados[atributo] = pd.to_datetime(input(f'inserir {atributo}: '), dayfirst=True)
                else:                    
                    dados[atributo] = input(f'inserir {atributo}: ')
        
        
        
        funcionarios = self.ler_dados_sql_funcionarios()
        
        if(dados['cpf'] in funcionarios.cpf.to_list()):
            print('funcionario já cadastrado anteriormente, favor inserir outro')
            
        else:
            dados['senha'] = self.cadastro_senha()
            df_func = pd.DataFrame(dados, index = [0])
            df_func = pd.concat([funcionarios, df_func ], axis = 0)
            df_func.to_sql(name = 'funcionarios', con = self.con, if_exists='replace', index = False)
        
    
        return dados
    
    def registrar_ponto(self, cpf_func, senha_func):
        
        funcionarios = self.ler_dados_sql_funcionarios()
        pontos = self.ler_dados_sql_pontos()
        
        if(cpf_func in funcionarios.cpf.to_list()):
            funcionario = funcionarios.query(f"cpf == '{cpf_func}'").copy()
            
            senha = funcionario.senha.iloc[0]
            
            if(senha != senha_func):
                print('senha incorreta!')
            else:
                pontos_funcionario = pontos.query(f"cpf == '{cpf_func}'")
                
                if(pontos_funcionario.shape[0] == 0):
                    
                    df_ponto = pd.DataFrame({
                                    'cpf': cpf_func,
                                    'horario': datetime.datetime.today(),
                                    'portao': self.portao,
                                    'tipo': 'entrada'
                                }, index = [0])

                    df_ponto.to_sql('registro_pontos', con = self.con, if_exists='append', index = False)
                    
                else:
                
                    tipo_ultima_entrada = pontos_funcionario.sort_values(by='horario' ,ascending = False).tipo.iloc[0]
                    if(tipo_ultima_entrada == 'entrada'):
                        tipo = 'saida'
                    else:
                        tipo = 'entrada'

                    df_ponto = pd.DataFrame({
                                    'cpf': cpf_func,
                                    'horario': datetime.datetime.today(),
                                    'portao': self.portao,
                                    'tipo': tipo
                                }, index = [0])

                    df_ponto.to_sql('registro_pontos', con = self.con, if_exists='append', index = False)
                
                return df_ponto
                
            
        else:
            print('funcionario nao cadastrado!')
        
    def cadastrar_obra(self, dados_obra = None):
        

        if(dados_obra != None):
            dados = dados_obra.copy()
            
            
        else:
            dados = {}
            for atributo in ['nome', 'cidade', 'UF', 'contratante', 'numero', 'cep', 'inicio', 'fim']:
                dados[atributo] = input(f'inserir {atributo}: ')
        
        
        
        obras = self.ler_dados_sql_obras()
        
        
        if((dados['numero'] in obras.numero.to_list()) and (dados['cep'] in obras.cep.to_list()) and (dados['nome'] in obras.nome.to_list())):
            print('obra já cadastrada anteriormente, por favor inserir outra')
            
        else:
            if(('id_obra' not in obras.columns) or (obras.shape[0] == 0)):
                dados['id_obra'] = 1
                
            else:
                id_ultima_obra = obras.sort_values(by = 'id_obra', ascending = False).id_obra.iloc[0]
                dados['id_obra'] = id_ultima_obra + 1
                
                
            df_obra = pd.DataFrame(dados, index = [0])
            df_obra.to_sql(name = 'obras', con = self.con, if_exists='append', index = False)

        return dados
    
    def cadastro_senha(self):
        senha = 0
        conf_senha = 1
        while (senha != conf_senha):
            senha = input('inserir senha: ')
            conf_senha = input('confirmar senha: ')
        
        return senha
    
#     def get_funcionarios(self):
#         return pd.read_sql(sql = 'funcionarios', con=conn)
    
#     def get_obras(self):
#         return pd.read_sql(sql = 'obras', con=conn)
    
#     def get_pontos(self):
#         return pd.read_sql(sql = 'registro_pontos', con=conn)

classe_teste = ControleFuncionariosObras(con = conn, portao = 1)
# ponto0 = classe_teste.registrar_ponto(cpf_func= '05000194365', senha_func='123', tipo = 'entrada')

In [5]:
# conn.execute('delete from obras where cep <> 123')

In [6]:
classe_teste = ControleFuncionariosObras(con = conn, portao = 1)
# df_func = classe_teste.cadastrar_funcionario(funcionario3)
# classe_teste.cadastrar_obra(dados_obra = obra2)
# classe_teste.ler_dados_sql_funcionarios()
# classe_teste.registrar_ponto(cpf_func = '05000194365', senha_func = '123')
classe_teste.ler_dados_sql_obras()

,nome,cidade,UF,contratante,tipo,numero,cep,inicio,fim,id_obra
0,Reforma Quadra 1 CEFER,São Carlos,SP,USP,Reforma,636,13560540,2021-07-04,2021-09-04,1
1,Reforma NETEF,São Carlos,SP,USP,Reforma,636,13560540,2021-07-04,2021-10-04,2

In [7]:
classe_teste.ler_dados_sql_funcionarios()

,nome,data_nascimento,cpf,cargo,inicio_jornada,fim_jornada,id_obra,senha
0,Matheus Pierroti Lerdusio,01/12/1998,64685750012,Mestre de Obras,8,17,123456,123
1,Samuel Thomaz Bastos,14/07/1998,05000194365,Pedreiro,8,17,123456,123
2,Thaina Velmária,01/12/1998,27222007083,Arquiteta,8,17,123456,321

In [8]:
classe_teste.ler_dados_sql_pontos()

           cpf             horario  portao     tipo
0  05000194365 2021-07-04 20:44:33       1  entrada
1  05000194365 2021-07-04 20:44:37       1    saida

In [104]:
# df_func.to_sql(name = 'funcionarios', con = conn, if_exists='append', index = False)

In [165]:
obra1 = {
    'nome': 'Reforma Quadra 1 CEFER', 
    'cidade': 'São Carlos',
    'UF': 'SP',
    'contratante': 'USP',
    'tipo': 'Reforma',
    'numero': '636',
    'cep': '13560540',
    'inicio': '2021-07-04',
    'fim':'2021-09-04',
}

In [151]:
obra2 = {
    'nome': 'Reforma NETEF', 
    'cidade': 'São Carlos',
    'UF': 'SP',
    'contratante': 'USP',
    'tipo': 'Reforma',
    'numero': '636',
    'cep': '13560540',
    'inicio': '2021-07-04',
    'fim':'2021-10-04',
}

In [115]:
obra1.keys()

dict_keys(['nome', 'cidade', 'UF', 'contratante', 'numero', 'cep', 'inicio', 'fim'])

In [91]:
funcionario1 = {
    'nome': 'Samuel Thomaz Bastos', 
    'data_nascimento': '14/07/1998',
    'cpf': '05000194365',
    'cargo': 'Pedreiro',
    'inicio_jornada': 8,
    'fim_jornada':17,
    'id_obra': 1
    
}

In [68]:
funcionario2 = {
    'nome': 'Matheus Pierroti Lerdusio', 
    'data_nascimento': '01/12/1998',
    'cpf': '64685750011',
    'cargo': 'Mestre de Obras',
    'inicio_jornada': 8,
    'fim_jornada':17,
    'id_obra': 1
    
}

In [69]:
funcionario3 = {
    'nome': 'Thaina Velmária', 
    'data_nascimento': '01/12/1998',
    'cpf': '27222007083',
    'cargo': 'Arquiteto',
    'inicio_jornada': 8,
    'fim_jornada':17,
    'id_obra': 2
    
}